.dad-div {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    width: 100%;
    height: 135vh;
}

.dad-div-top{
    width: 96%;
}

.dad-top {
    display: flex;
    width: 100%;
}

.cont-txt {
    width: 60%;

}

.cont-txt h4 {
    font-size: 4rem;
    color: white;
    width: 55vw;
}

.cont-txt p {
    font-size: 1.4rem;
    color: #919191;
    width: 40vw;
    padding-top: 10px;
}

/*cards*/

.cont-cards {
    margin-top: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cont-cards img {
    width: 35px;
}

.cards {
    padding: 30px;
    height: 27vh;
    box-shadow: 1px 1px 1px #9ed500;
    border-radius: 15px;
    padding-top: 10px;
    background-color: #4B4E53;
    background-image: linear-gradient(147deg, #4B4E53 0%, #000000 74%);
    color: #919191;
    animation: mover 4s ease-in-out infinite;
    transition: 0.5s;

}

.cards:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px rgba(192, 255, 4, 0.801);
    border-color: #9ed500;

}

.cards h4 {
    font-size: 1.4rem;
}

.txt-main{
    width: 80%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.txt-main p{
    color: #919191;
    font-size: 1.4rem;
}

.txt-main h3{
    padding-bottom: 20px;
    font-size: 2.5rem;
    color: #919191;
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

 @media(max-width: 1400px){
    .cont-txt{
    }

    .dad-top{
        padding:  20px;
        display: flex;
        gap: 30px;
    }

    .cont-txt h4{
        font-size: 3.4rem;
    }

}



@media(max-width: 970px){
    .dad-div{
        height: 180vh;
    }

    .dad-div-top{
        padding: 10px;
    }

    .cont-txt{
        width: 100%;
    }

    .cont-txt h4{
        width: 100%;
        font-size: 3rem;
    }

    .txt-main h3{
        font-size: 2.4rem;
    }

    .txt-main p{
        width: 100%;
    }

    .dad-top{
        display: flex;
        flex-direction: column;
    }

    .card-dad{
        padding-top: 50px;
        display: flex;
        justify-content: center;
    }

    .cont-cards{
        width: 70%;
    }
}


@media(max-width: 885px){
    .dad-div{
        height: 190vh;
    }

    .dad-div-top{
        padding: 10px;
    }

    .cont-txt{
        width: 100%;
    }

    .cont-txt h4{
        width: 100%;
        font-size: 3rem;
    }

    .txt-main h3{
        font-size: 2.4rem;
    }

    .txt-main p{
        width: 100%;
    }

    .dad-top{
        display: flex;
        flex-direction: column;
    }

    .card-dad{
        padding-top: 50px;
        display: flex;
        justify-content: center;
    }

    .cont-cards{
        width: 90%;
    }
}

@media(max-width: 786px){
    .dad-div{
        height: 210vh;
    }

    .dad-div-top{
        padding: 10px;
    }

    .cont-txt{
        width: 100%;
    }

    .cont-txt h4{
        width: 100%;
        font-size: 3rem;
    }

    .txt-main h3{
        font-size: 2.4rem;
    }

    .txt-main p{
        width: 100%;
    }

    .dad-top{
        display: flex;
        flex-direction: column;
    }

    .card-dad{
        padding-top: 50px;
        display: flex;
        justify-content: center;
    }

    .cont-cards{
        width: 90%;
    }
}

@media(max-width: 726px){

    .dad-div{
        height: 210vh;
    }

    .dad-div-top{
        padding: 10px;
    }

    .cont-txt{
        width: 100%;
    }

    .cont-txt h4{
        width: 100%;
        font-size: 3rem;
    }

    .txt-main h3{
        font-size: 2.4rem;
    }

    .txt-main p{
        width: 100%;
    }

    .dad-top{
        display: flex;
        flex-direction: column;
    }

    .card-dad{
        padding-top: 50px;
        display: flex;
        justify-content: center;
    }

    .cont-cards{
        width: 90%;
    }
}

@media (max-width:680px){
    .dad-div{
        height: 200vh;
    }

    .dad-top{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .dad-div-top{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .cont-txt{
        width: 100%;
    }

    .cont-txt h4{
        width: 100%;
        font-size: 2.4rem;
    }

    .cont-txt p{
        width: 100%;
    }
    
    .cont-cards{
        width: 90%;
    }

    .cards{
        width: 100%;
    }
}

@media(max-width: 479px){
    .dad-div{
        height: 220vh;
    }
}

@media(max-width:468px){

    .dad-div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dad-top{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0px;
    }
    .cont-txt{
        width: 100%;
    }
    
    .card-dad{
        width: 100%;

    }

    .cont-cards{
        width: 100%;
        
    }

}
 

@media(max-width: 410px){

    .card-dad{
        margin-top: 25px;
    }

    .dad-div{
        height: 220vh;
    }

    .txt-main{
        width: 80%;
    }

    .txt-main h3{
        font-size: 2rem;
    }

    .txt-main p{
        width: 100%;
    }
}

@media(max-width: 374px){
    .dad-div{
        height: 235vh;
    }

    .card-dad{
        width: 100%;

    }

    .cont-cards{
        width: 100%;
    }

    .cards h4{
        font-size: 1rem;
    }

}

@media(max-width: 287px){
    .dad-div{
        height: 255vh;
    }
}