.process {
    padding-top: 50px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.process h1 {
    font-size: 4rem;
    color: #919191;
}

.process-txt {
    width: 70%;
    display: flex;
    gap: 25px;
    gap: 30px;

}

.process-txt p {
    font-size: 1.3rem;
}

.process-txt img {
    width: 600px;
    border-radius: 0 25px;
    box-shadow: 2px 2px 6px black;
}

.effect-six a{
    font-size: 1.3rem;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #121212;
}

.effect-six > a {
  padding: 0 5px;
  box-shadow: inset 0 0 0 0 #9ed500;
  transition: all 0.4s ease-in-out 0s;
}
.effect-six > a:hover {
  box-shadow: inset 300px 0 0 0 #9ed500;
  color: #ffffff;
}

@media(max-width: 1024px) {
    .process {
        display: flex;
        align-items: center;
    }

    .process-txt {
        width: 90%;
    }

    .process h1 {
        margin-left: 50px;
    }

    .process-txt p {
        margin-top: 20px;
        font-size: 1rem;

    }
}

@media(max-width: 860px) {
    .process-txt {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .process-txt p {
        width: 80%;
    }

    .process h1 {
        margin-left: 100px;
    }
}

@media(max-width: 860px) {
    .process-txt p {
        font-size: 1.2rem;
    }
}

@media(max-width: 468px) {

    .process h1 {
        width: 100%;
        font-size: 2.4rem;
        margin-right: 80px;
    }

    .process-txt img {
        width: 420px;
    }

    .process-txt p {
        font-size: 1rem
    }
}

@media(max-width: 400px) {
    .process-txt img {
        width: 370px;
    }
}