#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#about h1{
    font-size: 4rem;
    padding-bottom: 50px;
    color: #919191;
}

#about span{
    padding-top: 70px;
    font-size: 1.3rem;
    font-style: italic;
}

.about-txt{
    width: 80%;
    display: flex;
    gap: 30px;
}

.about-txt p{
    padding-top: 10px;
    font-size: 1.2rem;
    width: 70%;
}

.about-txt img{
    width: 500px;
    border-radius: 0 25px;
    box-shadow: 2px 4px 6px black;
}
.about-paragraf{
    width: 100%;
}


@media(max-width: 1400px){
    .about-txt{
        display: flex;
        gap: 30px;
    }

    .about-txt p{
        width: 100%;
    }
}

@media(max-width: 1024px){
    .about-txt{
        width: 90%;
    }

    .about-txt p{
        font-size: 1rem;
    }
}

@media(max-width: 860px){
    .about-txt{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .about-txt p{
        font-size: 1rem;
        width: 70%;
    }

    .about-txt img{
        width: 600px;
    }

    .about-paragraf{
        display: flex;
        justify-content: center;
    }

    #about span{
        font-size: 1rem;
    }
}

@media (max-width:680px){
    .about-paragraf{
        display: flex;
        justify-content: center;
    }

    .about-txt p{
        font-size: 1.2rem;
    }
}

@media(max-width: 592px){
    .about-txt img{
        width: 550px;
    }
}

@media(max-width: 555px){
    .about-txt img{
        width: 480px;
    }
}

@media(max-width:518px){
    #about span{
        width: 80%;
    }
}

@media(max-width: 486px){

    #about h1{
        font-size: 3.5rem;
    }

    .about-txt img{
        width: 450px;
    }
}


@media(max-width: 468px){
    #about h1{
        font-size: 2.4rem;
    }

    #about span{
        margin-left: 100px;
        font-size: 1rem;
    }

    .about-txt img{
        width: 420px;
    }

    .about-txt p{
        font-size: 1rem;
    }



}

@media(max-width: 400px){
    #about span{
        width: 100%;

    }

    .about-txt img{
        width: 370px;
    }
}