.mensage{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.mensage-txt{
    border-radius:0 25px;
    width: 80%;
    padding: 50px;
    background-color: #121212;
    box-shadow: 5px 5px 10px black;
}

.mensage-txt h2{
    padding-bottom: 30px;
    font-size: 4rem;
    color: #919191;

;
}

.mensage-txt p{
    font-size: 1.5rem;
    color: #919191;
}