.cta{
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
}

.cta-txt{
    width: 70%;
    margin-bottom: 40px;
    padding: 40px;
    
}

.cta-txt h1{
    color: #919191;
    font-size: 2.6rem;

}

.cta-txt p{
    margin-top: 20px;
    color: #919191 ;
    font-size: 1.2rem;

}

@media(max-width: 468px){

    .cta-txt{
        width: 90%;
    
    }

    .cta-txt h1{
        font-size: 2.4rem;
    }
}